@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Person @ViewData["Person"]</p>

<address>
    <strong>More information : </strong> <a href="https://www.linkedin.com/in/isaiasferreira/">LinkdIn</a>
</address>
